<!DOCTYPE html>
<!--
    The theme of this web site is adapted from
    orderedlist (https://github.com/orderedlist/minimal)
  -->        
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CS 222 Programming Studio | Ozyegin University</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="../css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>

        <div class="site">
          <div class="wrapper">
            <header>
              <div class="menu">
                <a href="http://ozyegin.edu.tr"><img src="../data/ozu_logo.png" width="80%" /></a><br>
                <a href="index.html">Home</a><br>
                <a href="contents.html">Contents</a><br>
                <a href="organization.html">Organization</a><br>
                <a href="resources.html">Resources</a><br>
                <a href="policy.html">Policy</a>
              </div>
            </header>
            <section>
              <h1>CS 222 Programming Studio, <i>Spring 2018</i></h1>
              {{ content }}
              <hr>
            </section>
            <footer>
            </footer>
          </div>

    </body>
</html>
