<!DOCTYPE html>
<!--
    The theme of this web site is adapted from
    orderedlist (https://github.com/orderedlist/minimal)
  -->        
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CS 392 iOS App Development | Ozyegin University</title>
        <meta name="keywords" content="iOS application development course, swift programming, swift development course, iPhone programming course, swift programlama dersi, iOS uygulama gelistirme dersi" />
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="../css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>

        <div class="site">
          <div class="wrapper">
            <header>
              <div class="menu">
                <a href="http://ozyegin.edu.tr"><img src="../data/ozu_logo.png" width="80%" /></a><br>
                <a href="index.html">Home</a><br>
                <a href="schedule.html">Calendar</a><br>
                <a href="lectures.html">Lectures</a><br>
                <a href="projects.html">Projects</a><br>
                <a href="policy.html">Policy</a><br>
              </div>
            </header>
            <section>
              <h1>CS 392 Fall 2014</h1>
              {{ content }}
              <hr>
            </section>
            <footer>
            </footer>
          </div>

    </body>
</html>
