<!DOCTYPE html>
<!--
    The theme of this web site is adapted from
    orderedlist (https://github.com/orderedlist/minimal)
  -->        
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tankut Barış Aktemur</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>

        <div class="site">
          <div class="wrapper">
            <header>
              <div class="menu">
                <a href="personal.html"><img src="data/baris.jpg" width="80%" /></a><br>
                <!-- <a href="http://ozyegin.edu.tr"><img src="data/ozu_logo.png" width="80%" /></a><br> -->
                <a href="index.html">Home</a><br>
                <a href="publications.html">Publications</a><br>
                <a href="teaching.html">Teaching</a><br>
                <a href="turkce.html"><i>Türkçe</i></a><br>
              </div>
            </header>
            <section>
              {{ content }}
              <hr>
            </section>
          </div>

    </body>
</html>
