<!DOCTYPE html>
<!--
    The theme of this web site is adapted from
    orderedlist (https://github.com/orderedlist/minimal)
  -->        
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Programlama Eğitimi Atölyesi | Özyeğin Üniversitesi</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="../css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>

        <div class="site">
          <div class="wrapper">
            <header>
              <div class="menu">
                <a href="http://ozyegin.edu.tr"><img src="../data/ozu_logo.png" width="80%" /></a><br>
                <a href="index.html">Ana Sayfa</a><br>
              </div>
            </header>
            <section>
              {{ content }}
            </section>
            <footer>
            </footer>
          </div>

    </body>
</html>
